<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>DX Code</th>
            <th>HCC</th>
            <th>Provider Search</th>
            <!--<th>Invalid</th>-->
            <th>Comment</th>
            <th>Invalid</th>
        </tr>
    </thead>
    <tbody *ngFor="let dxcode of dxcodes; let sn = index">
        <!-- https://github.com/angular/angular/issues/5967 -->
        <tr [class.light-red]="dxcode.reasonId!=0">
            <td>
                {{ sn + 1 }}
                <!--<b *ngIf="dxcode.insertType == 'New'" color="red">N</b>-->
            </td>
            <td>{{ dxcode.dxCode.dxCode }} - {{ dxcode.dxCode.dxDesc }}</td>
            <td>{{ dxcode.dxCode.hcc }}</td>
            <td>{{ dxcode.provider.fullName }}</td>
            <!--<td>
                <div class="ui checkbox">
                    <input
                        type="checkbox"
                        name="public"
                        [checked]="dxcode.invalid"
                        (change)="registerInvalid(dxcode)">
                    <label></label>
                </div>
            </td>-->
            <td class="text-left">
                <button
                    type="button"
                    class="icon show-message"
                    [class.is-selected]='dxcode.comment!=""'
                    title="Comment"
                    (click)="clicked(dxcode, sn)">
                <span class="icon-remark"></span>
              </button>
            </td>
            <td class="text-left">
                <button
                    type="button"
                    class="icon show-message">
                    <div
                        class="ui floating labeled dropdown"
                        [class.is-selected]="dxcode.reasonId!=0"
                        (clickOutside)="onClickedOutside($event)"
                        #dxdropdown=ravDropdown
                        ravDropdown>
                        <i
                            class="fa activateDropdown"
                            aria-hidden="true"
                            [class.fa-square-o]="dxcode.reasonId == 0"
                            [class.fa-check-square]="dxcode.reasonId != 0">
                            </i>
                        <div class="menu transition" ng-style="{'display': 'block !important';}" ravDropdownMenu>
                            <div class="scrolling menu">
                                <div
                                    class="item"
                                    *ngFor="let reason of reasons; let reasonid = index"
                                    [class.selected]="reason.id == dxcode.reasonId"
                                    [class.active]="reason.id == dxcode.reasondId"
                                    (click)="setReason($event, reasonid + 1, dxcode)">
                                    <div class="ui grey empty circular label" *ngIf="reason.id == dxcode.reasonId"></div>
                                    {{ reason.statement }}
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
                <!--<button
                    type="button"
                    class="icon show-message" [class.is-selected]="dxcode.reasonId!=0">
                    <sm-dropdown class="floating labeled" [class.is-selected]="dxcode.reasonId!=0">
                        <div class="icon search input">
                            <input type="text" placeholder="Search tags...">
                        </div>
                        <div class="divider"></div>
                        <div class="header">
                            <i class="fa fa-tag"></i> Standard Messages
                        </div>
                        <div class="scrolling menu">
                            <div
                                class="item"
                                *ngFor="let reason of reasons; let reasonid = index"
                                [class.selected]="reason.id == dxcode.reasonId"
                                [class.active]="reason.id == dxcode.reasondId"
                                (click)="setReason($event, reasonid, dxcode)">
                                <div class="ui grey empty circular label" *ngIf="reason.id == dxcode.reasonId"></div>
                                {{ reason.statement }}
                            </div>
                        </div>
                    </sm-dropdown>
                </button>-->
                <div
                    *ngIf="dxcode.insertType == 'New'"
                    class="label">
                    <span>New</span>
                </div>
            </td>
        </tr>
        <tr class="inline-message" [ngClass]="dxcodeCss[sn].commentClass">
            <td colspan="8">
                <input
                    type="text"
                    placeholder="Type your message"
                    (keyup)="onKey($event, dxcode, sn)"
                    [(ngModel)]="dxcode.comment">
                <input
                    class="ui green button"
                    type="submit"
                    value="Enter"
                    (click)="sendComment($event, dxcode, sn)">
            </td>
        </tr>
    </tbody>
</table>
<div class="add-claim-section">
    <div class="ui form">
        <form [formGroup]="addDxCodeForm" (ngSubmit)="addDxCode()">
            <div class="fields">
                <div
                    class="field"
                    [class.form-error]="addDxCodeForm.controls.dxcode.touched && _selectedDxId < 0"
                    >
                    <div class="ui search dxcode" [id]="claimId">
                        <input
                            class="prompt"
                            type="text"
                            placeholder="Enter DX-CODE"
                            (keyup)="searchDxCodeDesc($event)"
                            formControlName="dxcode">
                        <div
                            class="error"
                            *ngIf="addDxCodeForm.controls.dxcode.touched && _selectedDxId < 0">
                            Required (Select correct dxcode)
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <div class="field">
                    <input
                        type="text"
                        placeholder="Enter comment"
                        formControlName="comment">
                </div>
                <div class="field">
                    <button class="ui green button" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
