<div class="cannot-review-section">
    <div class="standard-message">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <input
                        type="text"
                        placeholder="Enter comment"
                        [(ngModel)]="chartComment">
                    <button
                        class="save-icon"
                        type="submit"
                        (click)="saveComment()">
                        Save
                    </button>
                </div>
                <div class="field">
                    <span>
                        <strong>Cannot Review</strong>
                    </span>
                    <lsu-dropdown
                        class="review-select"
                        [(ngModel)]="selectedCannotReview"
                        [data]="cannotReviews"
                        [textField]="fieldForShow"
                        [placeHolder]="'Select one'"
                        (ngModelChange)="cannotReviewSelected();">
                    </lsu-dropdown>
                    <lsu-modal [(ngModel)]="cannotReviewModal" [options]="modalOptions">
                        <h2 class="ui icon header">
                            <i class="warning sign icon"></i>
                        </h2>
                        <div class="image content">
                            Are you sure that the chart and claims cannot be reviewed?
                        </div>
                        <div class="actions">
                            <div class="ui button primary">
                                <div class="" (click)="registerCannotReview($event); cancelCannotReviewModal();">Yes</div>
                            </div>
                            <div class="ui button">
                                <div class="" (click)="reloadCannotReview(); cancelCannotReviewModal()">Cancel</div>
                            </div>
                        </div>
                    </lsu-modal>
                </div>
            </div>
        </div>
    </div>
</div>