<div class="table-chart-container">
    <div class="table-card-wrapper">
        <div class="card claim-wrapper">
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Claims/Encounters</h2>
                <div class="add-row">
                    <div class="add">
                        <button
                            class="btn btn-info ui button"
                            (click)="resetForm()">
                            Add Claims
                        </button>
                        <div class="ui fluid popup top left transition hidden">
                            <div class="ui column divided grid">
                                <div class="column">
                                    <div class="ui form">
                                        <form [formGroup]="addClaimForm" (ngSubmit)="addClaim()">
                                            <div class="fields">
                                                <div
                                                    class="field">
                                                    <!--[class.form-error]="!addClaimForm.controls.dateOfService.valid">-->
                                                    <label>DOS</label>
                                                    <p-calendar
                                                        placeholder="mm/dd/yyyy"
                                                        formControlName="dateOfService"
                                                        dateFormat="mm/dd/yy"
                                                        [monthNavigator]="true"
                                                        [yearNavigator]="true"
                                                        [yearRange]="yearRange"
                                                        [maxDate]="today_date">
                                                    </p-calendar>
                                                    <!--<input
                                                        type="date"
                                                        placeholder="dd/mm/yyyy"
                                                        formControlName="dateOfService"
                                                        [max]="today_date">
                                                    <div
                                                        class="error"
                                                        *ngIf="!addClaimForm.controls.dateOfService.valid">
                                                        Required (Must be in format mm-dd-yyyy)
                                                    </div>-->
                                                </div>
                                                <div
                                                    class="field"
                                                    [class.form-error]="(addClaimForm.controls.provider.touched && _selectedProviderId < 0) || !addClaimForm.controls.provider.valid" >
                                                    <label>Provider</label>
                                                    <div class="ui search">
                                                        <input
                                                            class="prompt"
                                                            type="text"
                                                            placeholder="Provider"
                                                            formControlName="provider"
                                                            (keyUp)="checkProvider()">
                                                        <div
                                                            class="error"
                                                            *ngIf="(addClaimForm.controls.provider.touched && _selectedProviderId < 0) || !addClaimForm.controls.provider.valid">
                                                            Required (Select Correct Provider)
                                                        </div>
                                                        <div class="results"></div>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <button class="ui green button" type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <lsu-loader [active]="activeLoader" [loaderText]="loaderText" [loaderSize]="loaderSize"></lsu-loader>
            <div class="card-container">
                <div class="ui styled accordion">
                    <claim
                        *ngFor="let claim of claims"
                        [inputClaim]="claim"
                        (reloadClaims)="reloadClaims($event)">
                    </claim>
                </div>
            </div>
            <h2 *ngIf="!activeLoader && claims.length == 0" class="ui center aligned icon header">
                <i class="warning sign icon"></i>
                No Claims/Encounter
            </h2>
        </div>
    </div>
    <div class="completion-section clearfix">
        <div>
            <button
                class="btn btn-success"
                (click)="showCodingCompeleteModal()"
                [disabled]="nextActive">
              <span class="icon-checkmark"></span>Coding complete
            </button>
            <lsu-modal [(ngModel)]="codingCompleteModal" [options]="modalOptions">
                <h2 class="ui icon header">
                    <i class="checkmark icon"></i>
                </h2>
                <div class="image content">
                    Are you sure coding is complete?
                </div>
                <div class="actions">
                    <div class="ui positive basic button">
                        <div class="" (click)="codingCompeleteCancel(); codingComplete($event, false);">YES</div>
                    </div>
                    <div class="ui negative basic button">
                        <div class="" (click)="codingCompeleteCancel()">NO</div>
                    </div>
                </div>
            </lsu-modal>
            <button
                class="btn btn-warn"
                (click)="showSaveForLaterModal()"
                [disabled]="nextActive">
              <span class="icon-later"></span>Save for later
            </button>
            <lsu-modal [(ngModel)]="saveForLaterModal" [options]="modalOptions">
                <h2 class="ui icon header">
                    <i class="save icon"></i>
                </h2>
                <div class="image content">
                        Save For Later
                </div>
                <div class="actions">
                    <div class="ui positive basic button">
                        <div class="" (click)="saveForLaterCancel(); saveForLater($event, false);">YES</div>
                    </div>
                    <div class="ui negative basic button">
                        <div class="" (click)="saveForLaterCancel()">NO</div>
                    </div>
                </div>
            </lsu-modal>
        </div>
        <div>
            <button
                class="btn btn-info"
                (click)="activeModal()"
                [disabled]="nextActive">
                Next
                <span class="icon-next"></span>
            </button>
            <lsu-modal [(ngModel)]="nextChartModal" [options]="modalOptions">
                <h2 class="ui icon header">
                    <i class="file icon"></i>
                    <div class="content">
                    </div>
                </h2>
                <div class="image content">
                    Load Next Chart
                </div>
                <div class="actions">
                    <div
                        *ngIf="!isChartComplete"
                        class="ui button green">
                        <div
                            class=""
                            (click)="cancelNextChartModal(); codingComplete($event, true);">
                            Coding Complete
                        </div>
                    </div>
                    <div
                        *ngIf="!isChartComplete"
                        class="ui button yellow">
                        <div
                            class=""
                            (click)="cancelNextChartModal(); saveForLater($event, true);">
                            Save For Later
                        </div>
                    </div>
                    <div
                        *ngIf="isChartComplete"
                        class="ui positive basic button">
                        <div
                            class=""
                            (click)="cancelNextChartModal(); goToNextChart($event);">
                            YES
                        </div>
                    </div>
                    <div class="ui negative basic button">
                        <div class="" (click)="cancelNextChartModal()">Cancel</div>
                    </div>
                </div>
            </lsu-modal>
        </div>
    </div>
</div>
