<table class="table" *ngIf="cptcodes.length != 0">
    <thead>
        <tr>
            <th>#</th>
            <th>CPT Code</th>
            <th>Description</th>
            <th>Modifier</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody *ngFor="let cptcode of cptcodes; let sn = index">
        <!-- https://github.com/angular/angular/issues/5967 -->
        <tr>
            <td>{{ sn + 1 }}</td>
            <td>{{ cptcode.cptcode.cptCode }}</td>
            <td>{{ cptcode.cptcode.cptDesc }}</td>
            <td>{{ cptcode.modifiers }}</td>
            <td class="text-left">
                <button type="button" class="icon show-message" title="Comment" (click)="clicked(cptcode)">
                <span class="icon-remark"></span>
              </button>
            </td>
        </tr>
        <tr class="inline-message" [ngClass]="cptcode.class">
            <td colspan="8">
                <input type="text" placeholder="Type your message">
            </td>
        </tr>
    </tbody>
</table>
<div class="add-claim-section">
    <div class="ui form">
        <div class="fields">
            <div class="field">
                <input type="text" placeholder="Enter CPT-CODE">
            </div>
            <div class="field">
                <input type="text" placeholder="Enter description">
            </div>
            <div class="field">
                <input type="text" placeholder="Enter modifier">
            </div>
            <div class="field">
                <input type="text" placeholder="Enter comment">
            </div>
            <div class="field">
                <input class="ui green button" type="submit" value="Add">
            </div>
        </div>
    </div>
</div>
