<!--<div class="ui centered grid" id="main-header">
	<div class="computer only row">
		<div class="column">
      <span class="ui header">Project Name</span>
		</div>
	</div>
</div>-->

<div *ngIf="dashboardStats.length != 0">
  <!-- Chart Stat -->
  <!--<table class="ui celled structured table">
    <thead>
      <tr>
        <th rowspan="2">Projects</th>
        <th rowspan="2">Total No. of Active Charts</th>
        <th colspan="4">Number of Charts</th>
      </tr>
      <tr>
        <th>Coding Complete</th>
        <th>Saved for Later</th>
        <th>Cannot Review</th>
        <th>Active outstanding charts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let stat of chartStats">
          {{ stat }}
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td *ngFor="let stat of chartTotalStats">
          {{ stat }}
        </td>
      </tr>
    </tbody>
  </table>-->

  <!-- Claims/Encounter -->
  <!--<table class="ui basic table">
    <thead>
      <tr>
        <th>Projects</th>
        <th>Total no. of claims</th>
        <th>#Claims Reviewed</th>
        <th>#Claims Added</th>
        <th>#Claims Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let stat of claimStats">
          {{ stat }}
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td *ngFor="let stat of claimTotalStats">
          {{ stat }}
        </td>
      </tr>
    </tbody>
  </table>-->

  <!-- Diagnosis -->
  <!--<table class="ui basic table">
    <thead>
      <tr>
        <th>Projects</th>
        <th>Total Dx</th>
        <th>Dx Validated</th>
        <th>Dx Invalidated</th>
        <th>Dx not addressed</th>
        <th>New Dx</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td  *ngFor="let stat of diagnosisStats">
          {{ stat }}
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td *ngFor="let stat of diagnosisTotalStats">
          {{ stat }}
        </td>
      </tr>
    </tbody>
  </table>-->

  <!-- HCC -->
  <!--<table class="ui basic table">
    <thead>
      <tr>
        <th>Projects</th>
        <th>Total HCC</th>
        <th>HCC Validated</th>
        <th>New HCC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td  *ngFor="let stat of hccStats">
          {{ stat }}
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td *ngFor="let stat of hccTotalStats">
          {{ stat }}
        </td>
      </tr>
    </tbody>
  </table>-->

  <!-- CPT -->
  <!--<table class="ui basic table">
    <thead>
      <tr>
        <th>Projects</th>
        <th>Total CPT</th>
        <th>New CPT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td  *ngFor="let stat of cptStats">
          {{ stat }}
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td *ngFor="let stat of cptTotalStats">
          {{ stat }}
        </td>
      </tr>
    </tbody>
  </table>-->

  <table class="ui basic table">
     <thead>
       <tr>
         <th>Title</th>
          <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dashboardStat of dashboardStats">
        <td>{{ dashboardStat.label }}</td>
        <td>{{ dashboardStat.value }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="userStats.length != 0">
  <table class="ui basic table">
    <thead>
      <tr>
        <th>User</th>
        <th>#Charts Completed</th>
        <th>#In Progress</th>
        <th>#Claims Reviewed</th>
        <th>#Claims Reviewed</th>
        <th>#Dx Reviewed</th>
        <th>#Dx Invalid</th>
        <th>#Dx Added</th>
        <th>#Cpt</th>
        <th>#Cpt Added</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userStat of userStats">
        <td *ngFor="let stat of userStat">
          {{ stat }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
