<!--<div class="ui centered grid" id="main-header">
	<div class="computer only row">
		<div class="column">
      <span class="ui header">Project Name</span>
		</div>
	</div>
</div>-->

<div *ngIf="dashboardStats.length != 0">
  <table class="ui basic table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Total Charts</td>
        <td>{{ dashboardStats[0] }}</td>
      </tr>
      <tr>
        <td>Total number of Assigned Charts</td>
        <td>{{ dashboardStats[1] }}</td>
      </tr>
      <tr>
        <td>Total Number of Completed Charts</td>
        <td>{{ dashboardStats[2] }}</td>
      </tr>
      <tr>
        <td>Total in Save For Later</td>
        <td>{{ dashboardStats[3] }}</td>
      </tr>
      <tr>
        <td>Total Charts that cannot be reviewed</td>
        <td>{{ dashboardStats[4] }}</td>
      </tr>
       <tr>
        <td>Total in Progress</td>
        <td>{{ dashboardStats[5] }}</td>
      </tr>
      <tr>
        <td>Total no. of Claims/Encounters</td>
        <td>{{ dashboardStats[6] }}</td>
      </tr>
      <tr>
        <td>Total Claims Reviewed</td>
        <td>{{ dashboardStats[7] }}</td>
      </tr>
      <tr>
        <td>Total Claims/Encounters Added</td>
        <td>{{ dashboardStats[8] }}</td>
      </tr>
      <tr>
        <td>Total Claims/Encounters Modified</td>
        <td>{{ dashboardStats[9] }}</td>
      </tr>
      <tr>
        <td>Total Dx Codes</td>
        <td>{{ dashboardStats[10] }}</td>
      </tr>
      <tr>
        <td>Total Distinct Dx Codes</td>
        <td>{{ dashboardStats[11] }}</td>
      </tr>
      <tr>
        <td>Total Invalid Dx Codes</td>
        <td>{{ dashboardStats[12] }}</td>
      </tr>
      <tr>
        <td>Total Dx Codes Added later</td>
        <td>{{ dashboardStats[13] }}</td>
      </tr>
      <tr>
        <td>Total Cpt Codes</td>
        <td>{{ dashboardStats[15] }}</td>
      </tr>
      <tr>
        <td>Total Distinct Cpt Codes</td>
        <td>{{ dashboardStats[16] }}</td>
      </tr>
      <tr>
        <td>Total Cpt Codes Added later</td>
        <td>{{ dashboardStats[17] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="userStats.length != 0">
  <table class="ui basic table">
    <thead>
      <tr>
        <th>User</th>
        <th>#Charts Completed</th>
        <th>#In Progress</th>
        <th>#Claims Reviewed</th>
        <th>#Claims Reviewed</th>
        <th>#Dx Reviewed</th>
        <th>#Dx Invalid</th>
        <th>#Dx Added</th>
        <th>#Cpt</th>
        <th>#Cpt Added</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userStat of userStats">
        <td *ngFor="let stat of userStat">
          {{ stat }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
